@import "../global";

#header {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background: transparent;

  .header-general {
    display: flex;
    align-items: center;

    &__nav {
      margin-left: 11rem;
      display: flex;
      align-items: center;

      a {
        font-family: 'Kelly Slab', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin: 0 23px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1240px) {

}

@media (max-width: 1024px) {
  #header {
    .header-general__nav {
      margin-left: 3rem;
    }
  }

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  #header {
    .header-general__nav {
      display: none;
    }
  }
}

@media (max-width: 576px) {

}

@media (max-width: 450px) {

}

@media (max-width: 420px) {

}

@media (max-width: 380px) {

}

@media (max-width: 320px) {

}


